@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes blob {
  0%, 100% { transform: translate(0, 0) scale(1); }
  25% { transform: translate(20px, -30px) scale(1.1); }
  50% { transform: translate(-20px, 20px) scale(0.9); }
  75% { transform: translate(20px, 30px) scale(0.95); }
}

@keyframes border-pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

@keyframes fade-in-up {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animate-border-pulse {
  animation: border-pulse 4s infinite;
}

.animate-spin-slow {
  animation: spin 8s linear infinite;
}

.animate-spin-slow-reverse {
  animation: spin 8s linear infinite reverse;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

/* Gradiente para el tema oscuro */
.bg-dark-gradient {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), 
              linear-gradient(to top, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

/* Gradiente para el tema claro */
.bg-light-gradient {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}
